.skeleton {
    height: 150px;
    width: 150px;
opacity: .7;
animation: skeleton-loading 1s linear infinite alternate;
border: none;
}

@keyframes skeleton-loading {
    0%{
        background-color: hsl(200, 20%, 70%);
    }    
    100%{
        background-color: hsl(200, 20%, 95%);
    }    

}