.container{
    align-items: center;
    color : #8e8e8e;
    font-size: 12px;
    font-family: "Red Hat Text",sans-serif;
    



}
.header{
    margin-top: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;

}
.orderId{
    color : #8e8e8e;
    text-align: left;
    font-size: 12px;
    
}
.orderIdValue{
    color: #266f9e;
    text-align: left;

}
.validFor{
    color : #8e8e8e;
    text-align: right;
    font-size: 12px;
}
.validForValue{
    color: #266f9e;
    text-align: right;
}
.progress{
    height: 4px;
    width: 95%;
}
.pay{
    height: 31px;
    color: #f8b032;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    justify-content:center;
}
.order{
    height: 16px;
}
.payCurrency{
    padding-left: 4px;
}
.receive{
    height: 29px;
    margin: 0 auto;
    position: relative;
    width: 50%;    
    justify-content:center;
    display: flex;
}
.receiveCurrency{
    padding-left: 4px;
}
canvas{
    background-color: #3f4b53;
    height: 128px;
    width: 128px;
    margin: 32px 0 16px;
    
}
.address{
    color : #8e8e8e;
    margin-bottom: 12px; 
    justify-content:center;
    display: block;    font-size: 12px;
}
.addressValue{
    color: black;
    text-align: right;
}
.copyButton{
    width: 12px;
    margin-right: 4px;
    display: inline-flex;
    margin-top: 12px; 


}
.copyButtonValue{
    display: inline-flex;
}
.copyButtonContainer{
    justify-content:center;
    align-items: center;
    cursor: pointer;
    display: block;
    justify-content: center;
    color: #266f9e;
}
.payWithSC{
    
    background: #4972f4;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    outline: none;
    padding: 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    width: 60%;
    font-weight: 70%;

}
.cancelOrder{
    right: 4px;
    top: 4px;
    position: absolute;
    height: 26px;
    width: 26px;
    border: none;
    transition: all 201.524ms ease 0ms;
    background: transparent url("ui-sprites.png") no-repeat 0 0;
    background-size: 26px auto;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    cursor: pointer;

}
.cancelOrder:hover{
    filter: grayscale(0);
    transform: rotate(1turn);
}

.info{
    color: black;
}
.info strong{
    margin-right: 4px;
}
.progressContainer{
    position: relative;
}
.progressTopLevel{
    position: absolute;
    background-color: #dadada;
    height: 4px;
}
.progress{
    background-color: #204d6a;
    height: 4px;
    width: 100%;
}